@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-family: "Avenir Next", "Segoe UI", sans-serif;
}

.dark:root {
  color-scheme: dark;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

button,
input,
select {
  font: inherit;
}
